<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.kh.thepain.apiDevel.mapper.APIDevelMapper">

    <resultMap id="postListResultMap" type="JobPost">
        <result property="postNo" column="recruitment_no"/>
        <result property="postEnrollDate" column="recruitment_date"/>
        <result property="count" column="count"/>
        <result property="deadline" column="deadline"/>
        <result property="companyName" column="company_name"/>
        <result property="postTitle" column="post_title"/>
        <result property="hireType" column="hire_type"/>
        <result property="startSalary" column="start_salary"/>
        <result property="endSalary" column="end_salary"/>
        <result property="requireDescription" column="require_description"/>
        <result property="mainDuties" column="main_duties"/>
        <result property="requiredSkills" column="nice_to_have_skills"/>
    </resultMap>

    <resultMap id="apiMemberResultMap" type="ApiMember">
        <result property="memberNo" column="member_no"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="email" column="email"/>
        <result property="gitUserName" column="git_username"/>
        <result property="memberName" column="member_name"/>
        <result property="phone" column="phone"/>
    </resultMap>

    <resultMap id="skillsResultMap" type="Skills">
        <result property="skillName" column="skill_name"/>
        <result property="skillNameKr" column="skill_name_kr"/>
    </resultMap>

    <resultMap id="apiLoginResultMap" type="ApiLogin">
        <result property="email" column="email"/>
        <result property="password" column="member_pwd"/>
    </resultMap>

    <select id="selectCompanyNo" resultType="_int">
        select enterprise_no
        from company
        where enterprise_name = #{companyName}
    </select>

    <select id="postList" resultMap="postListResultMap">
        select
              jp.RECRUITMENT_NO
            , jp.RECRUITMENT_DATE
            , jp.COUNT
            , jp.DEADLINE
            , jw.COMPANY_NAME
            , jw.POST_TITLE
            , jw.HIRE_TYPE
            , jw.START_SALARY
            , jw.END_SALARY
            , jw.REQUIRE_DESCRIPTION
            , jw.MAIN_DUTIES
            , jw.NICE_TO_HAVE_SKILLS
            from job_post jp
            join job_write_post jw
            on (jp.RECRUITMENT_NO = jw.post_no)
            where jp.status = 'Y'
        and jw.company_name = #{companyName}
    </select>

    <select id="selectApiMember" resultMap="apiMemberResultMap">
        select
              m.member_no
            , c.enterprise_name
            , m.email
            , m.git_username
            , m.member_name
            , m.phone
            from member m
            left join company c using (enterprise_no)
            where m.email = #{memberId}
    </select>

    <select id="selectSkills" resultMap="skillsResultMap">
        select
          s.skill_name
        , s.skill_name_kr
        from skill s
        join member_skills ms on(s.skill_no = ms.skill_no)
        where ms.member_no = #{memberNo}
    </select>

    <select id="selectApiLogin" resultMap="apiLoginResultMap">
        select
        email
        , member_pwd
        from member
        where email = #{username}
    </select>
</mapper>