<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.thepain.jjim.jjimMapper.jjimMapper">

	<resultMap id="postListResultSet" type="postList">
 		<result column="recruitment_no" property="recruitmentNo"/>
 		<result column="member_no" property="memberNO"/>
 		<result column="enterprise_no" property="enterpriseNo"/>
 		<result column="recruitment_date" property="recruitmentDate"/>
 		<result column="count" property="count"/>
 		<result column="status" property="status"/>
 		
 		
	    <result column="company_name" property="companyName"/>
	    <result column="hire_type" property="hireType"/>
	    <result column="start_salary" property="salaryMin"/>
	    <result column="end_salary" property="salaryMax"/>
	    <result column="require_description" property="description"/>
	    <result column="main_duties" property="duty"/>
	    <result column="nice_to_have_skills" property="benefits"/>
	    <result column="deadLine" property="deadLine"/>
	    
	      <result column="POST_TITLE" property="title"/>
 	</resultMap>


    <!-- 이미 찜했는지 확인 -->
    <select id="isAlreadyJjim" resultType="_int">
         SELECT COUNT(*) 
        FROM jjim
        WHERE member_no = #{memberNo}
          AND recruitment_no = #{postNo}
    </select>

    <!-- 찜 추가 -->
    <insert id="addJjim">
        INSERT INTO jjim (
            pick_no,
            member_no,
            recruitment_no
        ) VALUES (
            seq_pick_no.NEXTVAL,
            #{memberNo},
            #{postNo}
        )
    </insert>

    <!-- 찜 삭제 -->
    <delete id="removeJjim">
        DELETE FROM jjim
        WHERE member_no = #{memberNo}
          AND recruitment_no = #{postNo}
    </delete>


	<select id="selectJjimList" resultMap="postListResultSet">
	     SELECT RECRUITMENT_NO,
	           j.company_name,
	           j.hire_type,
	           j.start_salary,
	           j.end_salary,
	           j.require_description,
	           j.main_duties AS duty,
	           j.nice_to_have_skills AS benefits
	    FROM jjim
	    JOIN job_write_post j ON j.post_no = jjim.RECRUITMENT_NO
	    WHERE jjim.member_no = #{memberNo}
	</select>

	<select id="selectJjimPostNos" resultType="int">
	    SELECT recruitment_no
	    FROM jjim
	    WHERE member_no = #{memberNo}
	</select>
	






</mapper>
